#repositories {
    overflow: scroll;
}

div.commit label {
    margin: 0 7px;
}

#debug pre {
    overflow-x: scroll;
}

li.commit label {
    margin: 0 5px;
}

i.fa-3 {
    font-size: 1.8em;
}

ul {
    list-style: none;
    padding-left: 8px;
}